.normal {
    background-color: #C89E6B;
}

.grass {
    background-color: #92D1B4;
}

.fire {
    background-color: #FD7A7A;
}

.water {
    background-color: #75BDFD;
}

.electric {
    background-color: #F5E585;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #E7D060;
}

.flying {
    background-color: #A98FF0;
}

.poison {
    background-color: #AD7FAE;
}

.fighting {
    background-color: #ee5637;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #99C98B;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #F8CFD5;
}