* {
    list-style: none;
}

section.content-statistic {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 2rem 2rem 2rem;
    position: relative;
}

section.content-statistic .btn-voltar-pokeStatistic {
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border: none;
    background: #BF3029;
    width: 30%;
    display: none;
}

.content-statistic .btn-arrow {
    color: #fff;
    font-size: 3rem;
    margin: 2rem 0;
}

.content-statistic .header-statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-statistic .header-statistic .name-pokemon {
    color: #fff;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.content-statistic .header-statistic .types {
    display: flex;
    gap: 1rem;
    color: #fff;
    font-size: 1.4rem;
}

.content-statistic .header-statistic .types .type {
    padding: .5rem 1.5rem;
    filter: brightness(0.9);
    text-transform: capitalize;
    border-radius: 3rem;
}

.content-statistic .header-statistic .number {
    color: #fff;
    font-size: 2rem;
}

.content-statistic .photo-pokemon {
    height: 20rem;
    margin: 3rem auto 0 auto;
    z-index: 1;
}

.statistic-pokemon {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background: #fff;
    border-radius: 3rem 3rem 0 0;
}

.statistic-pokemon header nav ul.list-statistic {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 4rem;
    color: #b4afaf;
}

.statistic-pokemon header nav ul.list-statistic li {
    font-size: 1.4rem;
    cursor: pointer;
    padding-bottom: 1.2rem;
}

.statistic-pokemon header nav ul.list-statistic li:hover {
    border-bottom: 3px solid #00004f;
}

.statistic-pokemon .informations .information {
    display: none;
}

.statistic-pokemon .informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.statistic-pokemon .information .list-information li {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 3rem;
    margin-bottom: 1rem;
}

.statistic-pokemon .information .list-information li p:first-child,
.statistic-pokemon .container_base_stats .stats_name .list_stats_name li {
    color: #b4afaf;
    font-size: 1.7rem;
}

.statistic-pokemon .information .list-information li.abilities p:last-child,
.statistic-pokemon .container_base_stats .stats_name .list_stats_name li {
    text-transform: capitalize;
}

.statistic-pokemon .information .list-information li.base-stats {
    display: flex;
    flex-direction: column;
}

.statistic-pokemon .container_base_stats {
    display: flex;
    gap: 5rem;
}

.statistic-pokemon .container_base_stats .stats_value .list_stats_value li {
    font-size: 1.7rem;
}

.statistic-pokemon .container_base_stats .stats_value .list_stats_value li,
.statistic-pokemon .container_base_stats .stats_name .list_stats_name li {
    margin-bottom: 1rem;
}

.statistic-pokemon .information.selected {
    display: flex;
}

.tab.selected {
    border-bottom: 3px solid #00004f;
    color: #787878;
}

@media (max-width: 480px) {}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) and (max-width: 1919px) {}

@media (min-width: 1920px) {}