* {
    list-style: none;
}

section.content-statistic {
    display: flex;
    flex-direction: column;
    height: 65vh;
    padding: 0 2rem 2rem 2rem;
    position: relative;
}

.content-statistic .btn-arrow {
    color: #fff;
    font-size: 3rem;
    margin: 2rem 0;
}

.content-statistic .header-statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-statistic .header-statistic .name-pokemon {
    color: #fff;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.content-statistic .header-statistic .types {
    display: flex;
    gap: 1rem;
    color: #fff;
    font-size: 1.4rem;
}

.content-statistic .header-statistic .types .type {
    padding: .5rem 1.5rem;
    filter: brightness(0.9);
    text-transform: capitalize;
    border-radius: 3rem;
}

.content-statistic .header-statistic .number {
    color: #fff;
    font-size: 2rem;
}

.statistic-pokemon {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 27rem;
    width: 100%;
    background: #fff;
    border-radius: 3rem 3rem 0 0;
}

nav {
    position: relative;
}

.statistic-pokemon .photo-pokemon {
    position: absolute;
    top: -21rem;
    left: 50%;
    transform: translateX(-50%);
    height: 20rem;
    z-index: 1;
}

.statistic-pokemon header nav ul.list-statistic {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 4rem;
    color: #b4afaf;
}

.statistic-pokemon header nav ul.list-statistic li {
    font-size: 1.4rem;
    cursor: pointer;
    padding-bottom: 1.2rem;
}

.statistic-pokemon header nav ul.list-statistic li:hover {
    border-bottom: 3px solid #00004f;
}

.statistic-pokemon .informations .information {
    display: none;
}

.statistic-pokemon .informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem 0 2rem;
}

.statistic-pokemon .information {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.statistic-pokemon .information .container-title-about .list-information li,
.statistic-pokemon .container_base_stats .stats_name .list_stats_name li {
    color: #b4afaf;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.statistic-pokemon .information .container-value-about .list-value-about li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.statistic-pokemon .information .list-information li.abilities,
.statistic-pokemon .container_base_stats .stats_name .list_stats_name li,
.statistic-pokemon .information .container-title-about .list-information li,
.statistic-pokemon .information .container-value-about .list-value-about li.abilities {
    text-transform: capitalize;
}

.statistic-pokemon .information .list-information li.base-stats {
    display: flex;
    flex-direction: column;
}

.statistic-pokemon .container_base_stats {
    display: flex;
    gap: 5rem;
}

.statistic-pokemon .container_base_stats .stats_value .list_stats_value li {
    font-size: 1.5rem;
}

.statistic-pokemon .container_base_stats .stats_value .list_stats_value li,
.statistic-pokemon .container_base_stats .stats_name .list_stats_name li {
    margin-bottom: 1rem;
}

.statistic-pokemon .information .list-moves {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 15rem;
    gap: .5rem;
}

.statistic-pokemon .information .list-moves li {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    text-transform: capitalize;
    border: 2px solid #000;
    margin-bottom: .5rem;
    width: 49%;
    border-radius: 1rem;
    padding: .5rem 1rem;
    filter: brightness(0.9);
}

.statistic-pokemon .information.selected {
    display: flex;
}

.tab.selected {
    border-bottom: 3px solid #00004f;
    color: #787878;
}

@media (min-width: 481px) {
    .content-statistic .header-statistic .name-pokemon {
        font-size: 3.8rem;
    }

    .statistic-pokemon .photo-pokemon {
        height: 25rem;
        top: -27rem;
    }
    
    .statistic-pokemon header nav ul.list-statistic li {
        font-size: 1.9rem;
    }

    .content-statistic .header-statistic .number {
        font-size: 4rem;
    }

    .content-statistic .header-statistic .types .type {
        padding: 0.5rem 1.5rem;
        font-size: 2rem;
    }

    .statistic-pokemon .information .container-title-about .list-information li,
    .statistic-pokemon .information .container-value-about .list-value-about li {
        font-size: 2.2rem;
    }

    .statistic-pokemon .information .stats_name .list_stats_name li,
    .statistic-pokemon .information .stats_value .list_stats_value li {
        font-size: 2.2rem;
    }

    .statistic-pokemon .information .list-moves li {
        font-size: 1.95rem;
    }
    
    
}

@media (min-width: 700px) {
    .content-statistic .btn-arrow {
        color: #fff;
        font-size: 5rem;
        margin: 2rem 0;
    }

    .content-statistic .header-statistic {
        margin: 0 auto;
        gap: 28rem;
    }

    .statistic-pokemon {
        max-width: 700px;
        left: 50%;
        transform: translateX(-50%);
    }

    .statistic-pokemon .information .list-moves li {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        width: 49%;
        padding: 1.5rem 2rem;
    }
}

@media (min-height: 700px) {
    .statistic-pokemon {
        height: 27rem;
    }
}

@media (min-height: 799px) {
    section.content-statistic {
        height: 100vh;
    }

    .statistic-pokemon {
        height: 36rem;
    }

    .statistic-pokemon .information .list-moves {
        height: 24rem;
    }
}

@media (min-width: 900px) {
    section.content-statistic {
        height: 100vh;
    }

    .statistic-pokemon {
        height: 33rem;
    }

    .statistic-pokemon .information .list-moves {
        height: 22rem;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1920px) {}